*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: green;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(234, 235, 217);
   font-family: Arial, Helvetica, sans-serif;
   overflow-x: hidden;
   position: relative;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
h4{
    color: black;
    font-family: sans-serif;
    font-size: larger;
}

.navigation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.features, .login{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 30px;
}
#features{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

li{
    cursor: pointer;
    color: rgb(11, 179, 6);
    font-size: smaller;
}

li:hover{
    color: rgb(26, 108, 7);
}
ul.login li.logins{
    border: none;
}
ul.login li{
    border: solid 1px rgb(13, 137, 19);
    border-radius: 5px;
    padding: 4px;
}

/* #features{
    background-color: red;
    height: fit-content;
} */
/* edit this part later */
.feat-content {
    display: block;
    position: absolute;
    height: 0;
    overflow: hidden;
    width: 100px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 4px 4px 5px grey;
}

.company-content{
    display: block;
    position: absolute;
    height: 0%;
    overflow: hidden;
    width: 100px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 4px 4px 5px grey;
}
/* .feat-content.remove, .company-content.remove {
    display: none;
    

} */

a{
    text-decoration: none;
    padding: 10px;
    line-height: 10px;
    display: block;
    color: rgb(0, 0, 0);
    font-size: x-small;
}

a:hover{
    background-color: rgb(88, 236, 83);
    color: white;
}

.feat-content.active{
    height: 150px;
    transition: 1s;
}
.company-content.active{
    height: 120px;
    transition: 1s;
}

main{
    display: flex;
    justify-content: space-around;
}
img{
    width:auto;
    height: 250px;
}
article{
    width: 45%;
    margin-top: 100px;
}

h1{
    font-size: xx-large;
    padding-bottom: 40px;
    color: green;
}

p{
    line-height: 25px;
    padding-bottom: 40px;
    color: black;
}

button{
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    margin-bottom: 100px;
}



/* nav bar */
.navbar{
    width: 25px;
    height: fit-content;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}



.navbar > div{
    background-color: black;
    height: 3px;
    width: 25px;
    border-radius: 1px;
    
}
/* .overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    background-color: rgba(2, 30, 2, 0.708);
    transition: 3s;
} */

/* footer{
    position: absolute;
    top: 100vh;
    width: 100%;
    height: fit-content;
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
} */
@media(max-width:580px){
    header{
        width: 100%;
        gap: 80%;
        padding: 10px;
        box-shadow: 3px 4px 5px rgb(24, 75, 17);
    }
    h4{
        padding-left: 10px;
        color: black;
        font-family: sans-serif;
        font-size: larger;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        gap: 4px;
        z-index: 2;
    }
    .navigation{
        position: absolute;
        right: 0;
        height: 100vh ;
        width: 50%;
        top: 0;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        padding-top: 10vh;
        padding-left: 20px;
        transform: translateX(100%);
        transition: 1s;
        gap: 30px;
        align-items: flex-start;
        z-index: 1;
    }
    #features{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }
    .feature{
        height: 20px;
        overflow: hidden;
        transition: 1s;
    }
    .feature.active{
        height: 140px;
        transition: 1s;
    }
    .company{
        height: 20px;
        overflow: hidden;
        transition: 1s;
    }
    .company.active{
        height: 120px;
        transition: 1s;
    }
    .features, .login{
        flex-direction: column;
        list-style: none;
    }
    .login{
        margin-bottom: 10px;
    }
    .navigation.active{
        transform: translateX(0%);
        transition: 1s;
        z-index: 1;
    }
    

    #line1.active{
        transform: translateY(8px) rotate(45deg);
        transition: .5s;
    }
    #line2.active{
        display: none;
        transition: 0.5s;
    }
    #line3.active{
        transform: translateY(1px) rotate(-45deg);
        transition: .5s;
    }
       
    main{
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    img{
        width:auto;
        height: 250px;
        position: absolute;
    }
    article{
        width: 70%;
        margin-top: 250px;
        position: absolute;
    }
    .overlay{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        opacity: 0;
        background-color: rgba(2, 30, 2, 0.708);
        transition:  1s;
    }
    .overlay.active{
        opacity: 1;
        transition: 1s;
    }
}
